@import './base.css';

:root {
  --darkest: rgb(5, 5, 5);
  --semi-dark: rgb(10, 10, 10);
  --light-dark: rgb(20, 22, 25);
  --light-light-dark: rgb(75, 75, 75);
  --aquatic: rgb(14, 215, 255);
  --dark-aquatic: rgb(0, 133, 160);
  --dark-aquatic-hover: rgb(3, 71, 85);
  --orange: rgb(255, 164, 37);
  --light: rgb(255, 255, 255);
  --error: rgb(234, 68, 53);
  --green: rgb(108, 169, 101);

  --fonts: 'Roboto Mono', Helvetica, 'Courier New', monospace;
}

@media (max-width: 864px) {
  html {
    font-size: 7px;
  }

  input {
    font-size: 8px;
  }

  button {
    font-size: 8px;
  }

  h6 {
    font-size: 5px;
  }

  h2 {
    font-size: 10px;
  }

  h3 {
    font-size: 8px;
  }
}

@media (min-width: 864px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 12px;
  }
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

* {
  font-family: var(--fonts);
}
