@import './base.css';

:root {
  --darkest: rgb(5, 5, 5);
  --semi-dark: rgb(15, 15, 15);
  --light-dark: rgb(22, 22, 22);
  --light-light-dark: rgb(75, 75, 75);
  --aquatic: rgb(0, 166, 207);
  --light: rgb(255, 255, 255);
  --error: rgb(255, 61, 61);

  --fonts: 'Roboto Mono', Helvetica, 'Courier New', monospace;
}

@media (max-width: 768px) {
  html {
    font-size: 7px;
  }

  input {
    font-size: 8px;
  }

  h6 {
    font-size: 5px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 12px;
  }
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

* {
  font-family: var(--fonts);
}
