@import './base.css';

:root {
  --darkest: rgb(5, 5, 5);
  --semi-dark: rgb(15, 15, 15);
  --light-dark: rgb(22, 22, 22);
  --light-light-dark: rgb(75, 75, 75);
  --aquatic: rgb(0, 166, 207);
  --light: rgb(255, 255, 255);

  --fonts: 'Roboto Mono', Helvetica, 'Courier New', monospace;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}
